@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

:root {
  --primary-green: #eeedbe;
  --secondary-green: #29842f;
  --earth-brown: #6d4c41;
  --sky-blue: #64b5f6;
  --cream: #f1f8e9;
  --dark-text: #212121;
  --light-text: #fafafa;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Cantata One", serif;
    font-weight: 400;
    font-style: normal;
  color: var(--dark-text);
}


nav {
  border-bottom: 2px solid var(--primary-green);
}
button {
  background-color: var(--primary-green);
  color: var(--dark-text);
}
footer {
  background-color: var(--primary-green);
}
.bg-primary-green{
    background-color: var(--primary-green);
}
.text-green{
    color: var(--secondary-green);
}
